**/.dockerignore
**/.git
**/.gitattributes
**/.gitignore
**/.gitmodules
**/.idea
**/.vs
**/.vscode
**/bin
**/obj
**/charts
**/docker-compose*
**/.toolstarget
**/Dockerfile*
**/.env
**/.env.*
**/secrets/**
**/*.pfx
**/*.key
**/*.pem
**/TestResults
**/coverage
**/*.user
LICENSE
README.md
CHANGES.md
